* {
    font-family: mulish;

}

.nav-container {

    min-height: 20px;
    width: 50%;

    display: flex inline;
    /* justify-content: center; */
    align-items: center;
    font-size: 50px;
    font-weight: 800;
}

.nav-container img {
    width: 70px;
    height: 50px;
}

.special {
    color: #FF5400;
}

.nav-bar {
    max-width: 1250px;
    margin: 0 auto;

    display: flex;
    align-items: center;

}

.item-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 18px;
    font-weight: 400;
}

.item-container a {

    text-decoration: none;
}

.home {
    color: #FF5400;
}


.banner {
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;

    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png), linear-gradient(180deg, rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.00) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;

}

.banner-heading {
    color: #FFF;
    font-size: 60px;
    font-weight: 800;
    margin-top: 70px;
    margin-bottom: 20px;

}

.banner-pg {
    width: 500px;
    color: #FFF;
    margin-top: 0%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.input-container {
    margin-top: 30px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input {
    text-align: left;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
}

.banner-button {
    color: #FFF;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    text-align: center;
    font-weight: 800;
    font-size: 20px;

}

.popular-tours {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;

}

.popular-headline {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.popular-content {
    margin: 20px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */

}

.popular-tours-content {
    width: 50%;
}

.popular-tours-content h1 {
    margin-top: 0%;
}

.popular-tours-image {
    margin-left: 100px;
    width: 50%;
}

.destination {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    translate: 30px;
}

.destination h1 {
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.destination p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-left: 280px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
}

.mal-ind {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.maldives {
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;


}

.indonesia {
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    height: 300px;
    width: 573px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.srilanka {
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    height: 286px;
    width: 374px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.north-america {
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    height: 286px;
    width: 474px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.kashmir {
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    height: 286px;
    width: 274px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.bangladesh {
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    height: 286px;
    width: 473px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.bandarban {
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    height: 286px;
    width: 673px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.section-2 {
    max-width: 1200px;
    margin: 0 auto;
}

.section-2 img {
    margin: 20px 0px 0px 20px;
    width: 64px;
}

.section-2 h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.section-2 p {
    color: rgba(19, 19, 24, 0.70);
    /* margin-left: 280px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 30px;
    width: 500px;

}

.section2-pg {
    text-align: center;
    margin-left: 320px;
    margin-bottom: 40px;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.section-2 h3 {
    padding-left: 30px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.hotel {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-bottom: 0%;
}

.service {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.discount {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.section-3 {
    max-width: 1200px;
    max-height: 1800px;
    margin: 0 auto;
    justify-content: center;
}

.section-3 h3 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.deals-pg {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.icons {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    translate: 50px 50px;
}

.icons p {
    max-width: 150px;
    margin: 0px 30px 0 10px;
}

.section-3-container {
    position: relative;
    translate: 530px -450px;
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.section-3-container-2 {
    position: relative;
    translate: 50px -450px;
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.section-3-container-3 {
    position: relative;
    translate: 530px -450px;
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.day-night-price {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}

.day-night-container {
    position: relative;
    translate: 50px 50px;
    width: 450px;
}

.day-night-container h3 {
    text-align: start;
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}

.day-night-container p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.section3-2 {
    position: relative;
    translate: 0px -350px;
}

.section3-3 {
    position: relative;
    translate: 0px -700px;
}

.section-4 {
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.section-4-button {
    color: #FFF;
    width: 230px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    position: relative;
    translate: 480px 0px;
}

.section-4-div-1 {
    max-width: 570px;
}

.section-4-div-2 {
    width: 560px;
}

.section-4-div-1 h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0%;
}

.section-4-div-1 p {
    width: 532px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.section-4-div-1 li {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 20px;
}

.section-4-div-container {
    margin-top: 50px;
    display: flex;
    gap: 50px;

}

.section-5 {

    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    gap: 30px;
}

.section-5-div-1 {
    margin-top: 100px;
    width: 474px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.section-5-div-1-container {
    width: 350px;
    margin-left: 50px;
}

.section-5-div-1-container hr {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    border-style: none;
}

.section-5-div-1 h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.section-5-div-1 p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.section-5-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-5-input input {
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border-style: none;
}

.section-5-button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin-left: 30px;
    border-style: none;

}

.section-5-div-2 {
    margin-top: 100px;
    width: 474px;
    height: 422px;
}

.section-5-div-2 button {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    border-style: none;
    position: relative;
    translate: 335px -175px;
}

footer {
    margin-top: 100px;
    width: 1440px;
    height: 502px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
}

.footer-logo {
    margin: 100px 0px 0px 600px;
    max-width: 1200px;
    /* margin: 0px auto; */
    justify-content: center;
    align-items: center;
    display: flex inline;
    line-height: 0%;
}

footer h1 {
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-weight: 800;
    line-height: 0%;
}

footer span {

    color: #FF5400;
    font-size: 32px;
    font-weight: 800;
}

.footer-pg {
    width: 770px;
    /* margin-left: 350px; */
    position: relative;
    translate: 350px 0px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */

}

.footer-img {
    width: 60px;
}

.social {
    margin-top: 20px;
    margin-left: 650px;
}

footer hr {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    border-style: none;
}

.copyright {
    text-align: center;
}

@media screen and (max-width:576px) {
    *{max-width: 573px;}
    .nav-bar {
        flex-direction: column;
        margin-left: 0px;
    }

    .item-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .input-container {
        flex-direction: column;
    }

    .banner-heading {
        font-size: 35px;
        margin-top: 20px;
    }

    .banner-pg {
        width: 400px;
    }

    .nav-container {
        width: 100%;
        justify-content: center;
    }

    .input {
        width: 250px;
        height: 40px;
    }

    .banner-button {
        width: 250px;
        height: 40px;
    }

    nav a {
        margin-top: 15px;
    }

    .banner {
        margin-top: 30px;
    }

    .popular-tours {
        flex-direction: column;
        margin-top: 30px;
    }

    .popular-tours-content {
        margin-left: 20px;
        width: 100%;
    }

    .popular-tours-image {
        margin-top: 30px;
        margin-left: 0%;
    }

    .srilanka {
        width: 573px;
        background-size: 573px;
    }

    .north-america {
        width: 573px;
        background-size: 573px;
    }

    .kashmir {
        width: 573px;
        background-size: 573px;
        background-position: center;
    }

    .bangladesh {
        width: 573px;
        background-size: 573px;
    }

    .destination {
        translate: 0px;
    }

    .destination p {
        margin: 0 auto;
        width: 500px;
        margin-bottom: 48px;
    }

    .section-2 {
        width: 573px;
    }

    .section2-heading {
        width: 573px;
    }

    .section2-heading p {
        margin-left: 0%;
    }

    .section-container {
        max-width: 573px;
        display: block;
    }

    .hotel {
        margin-top: 20px;
    }

    .service {
        margin-top: 20px;
    }

    .discount {
        margin-top: 20px;
    }

    .group-39 {
        height: 550px;
        width: 573px;
    }

    .group-40 {
        height: 550px;
        width: 573px;
    }

    .section-3-container {
        width: 500px;
        translate: 35px -450px;
    }

    .section-3-container-2 {
        width: 500px;
        translate: 35px -450px;
    }

    .section-3-container-3 {
        width: 500px;
        translate: 35px -450px;
    }

    .section-3 {
        max-height: 2000px
    }

    .section-4-button {
        translate: 180px 0px;
    }

    .section-4-div-container {
        flex-direction: column;
    }

    .section-5 {
        display: flex;
        flex-direction: column;
    }

    .section-5 img {
        width: 573px;
    }

    .section-5-div-1 {
        width: 573px;
        margin-top: 50px;
    }

    .section-5-div-1-container {
        margin-left: 100px;
    }

    .section-5-div-2 {
        margin-top: 50px;
    }

    .section-5-div-2 button {
        translate: 240px -175px;
    }

    footer {
        margin: 0px auto;
        width: 573px;
    }

    .footer-logo {
        margin: 100px 0px 0px 135px;
    }

    .footer-pg {
        width: 350px;
        translate: 120px 20px;
    }

    .social {
        margin-top: 40px;
        margin-left: 200px;
    }

    footer hr {
        width: 525px;
    }
}